<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista_Equipos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar" onclick="window.location.href = 'http://localhost:63342/Equipos/src/main/resources/templates/Inscripciones.html?_ijt=ho8vori48sfh0piarkcojtdge1&_ij_reload=RELOAD_ON_SAVE'" >
                <span class="sr-only">agregar equipos </span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/equipos/lista}">Listado de equipos</a>
            <a class="navbar-brand" href="#" th:href="@{/equipos/ingresar}">agregar</a>

        </div>

    </div>
</nav>

<div class="container">
    <h1>Lista de Equipos</h1>
    <br>

    <br> <br>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>nombre</th>
            <th>direccion</th>
            <th>tecnico</th>
            <th>uniforme</th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="equipo : ${listaEquipos}">
            <td th:text="${equipo.id}">id</td>
            <td th:text="${equipo.nombre}">nombre</td>
            <td th:text="${equipo.direccion}">direccion</td>
            <td th:text="${equipo.tecnico}">tecnico</td>
            <td th:text="${equipo.uniforme}">uniforme</td>
        </tr>

        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>